.item1{grid-area: header;}
.item2{grid-area: aside;}
.item3{grid-area: main;}
.item4{grid-area: menu;}
.item5{grid-area: footer;}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header header header header'
    'aside main main main'
    'aside menu menu menu'
    'footer footer footer footer';
    gap: 50px;
    background-color: rgb(219, 181, 181);
    padding: 10px;
}

.grid-container>div{
    display: flex;
    background-color: rgb(143, 219, 255);
    text-align: center;
    color: azure;
    padding: 20px 0;
    font-size: 30px;
    height:100px;
}

.grid-container>.item1{
    flex-direction: column;
    justify-content: center;

}

.grid-container>.item2{
    height:680px;
    flex-direction: column;
    justify-content: center;
}

.grid-container>.item3{
    height:290px;
    justify-content: space-around;
}

.grid-container>.item4{
    height:290px;
    justify-content: space-around;
}

.grid-container>.item5{
    justify-content:space-around ;
}

.item-1-1{
    margin-top: 10px;
    height: 20px;
    width: 100%;
    background-color: orange;
}

.item-3-3{
    margin-top: 5px;
    height: 90px;
    width: 90px;
    background-color: orange;
}

.item-3-3-3{
    margin-top: 10px;
    margin-left: 15px;
    height: 40px;
    width: 60px;
    background-color: pink;
}

.item-4-4{
    margin-top: 5px;
    height: 90px;
    width: 90px;
    background-color: rgb(115, 214, 115);
}

.item-4-4-4{
    margin-top: 10px;
    margin-left: 15px;
    height: 40px;
    width: 60px;
    background-color: rgb(39, 149, 223);
}

.item-5-5{
    margin-top: 10px;
    height: 50px;
    width: 400px;
    background-color: orange;
}

/* IMAGES */
.circulo{
    width: 100px;
    height: 100px;
    margin-left: 200px;
}

.capterra{
    width: 170px;
    height: 50px;
    margin-left: 15px;
}

